html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
    background-color: #EDDEDD;
}

h1 {
    font-family: "Emblema One", system-ui; /* Correctly applied the font */
    text-align: right;
    font-size: 40px;
    color: #F09E9C;
}

p {
    color: #706ca1;
}
